/ActiveProcess$Kernel32.class
/ActiveProcess$Psapi.class
/ActiveProcess$User32DLL.class
/ActiveProcess.class
/AlphaKeyManager.class
/Arduino.class
/HotKeyManager.class
/KeyHook.class
/MainBack.class
/PartDetector.class
/PluginPolicy.class
/Process.class
/ProcessManager.class
/Slider.class
